<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<data-set xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Servers>
        <ServerName>dfdf</ServerName>
        <ServerPort>5004</ServerPort>
        <ServerIP>192.168.0.103</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server1</ServerName>
        <ServerPort>5005</ServerPort>
        <ServerIP>192.168.0.102</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server2</ServerName>
        <ServerPort>5006</ServerPort>
        <ServerIP>192.168.0.105</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server3</ServerName>
        <ServerPort>5007</ServerPort>
        <ServerIP>192.168.0.106</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server4</ServerName>
        <ServerPort>5008</ServerPort>
        <ServerIP>192.168.0.107</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server5</ServerName>
        <ServerPort>5009</ServerPort>
        <ServerIP>192.168.0.110</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server6</ServerName>
        <ServerPort>5010</ServerPort>
        <ServerIP>192.168.0.108</ServerIP>
    </Servers>
    <Servers>
        <ServerName>server7</ServerName>
        <ServerPort>5011</ServerPort>
        <ServerIP>192.168.0.109</ServerIP>
    </Servers>
</data-set>